.chat-container {
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    form {
        display: flex;
        align-items: flex-end;
        max-width: 50%;
        min-width: 0%;
        min-height: 100%;
        width: 100%;

        .MuiFormControl-root {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

    }
    .notify-list{
        position: fixed;
        top: 15%;
        left: 50%;
        z-index: 2;
    }


    .chat-list{
        max-width: 50%;
        min-width: 0%;
        min-height: 100%;
        width: 100%;
    }
    .MuiList-root {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 50%;
    }
}